<%= form_for @category do |c|%>

  <% if @category.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@category.errors.count, 'error') %>
        prohibited this category from being saved. 
      </h2>
      <ul>
        <%= @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= c.label :name %>
    <%= c.text_field :name %>
  </p>
  <p>
    <%= c.submit %>
  </p>
<% end %>